{% load static %}
<style type="text/css">
    #navbarNavAltMarkup a:hover {
        transition: color 0.5s ease-in;
        color: #FFF;

    }
</style>
<nav id="navbar" class="navbar navbar-expand-lg fs-6 fixed-top">
  <div class="container-fluid" style="margin-left: 10%" >
    <a class="navbar-brand" href="#" style="color: rgb(175, 199, 239)">
      <img src="{% static 'build/images/46909c7.png' %}" alt="" width="30" height="24" class="d-inline-block align-top">
      StarTrek.Audition
    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav" style="color: #AFC7EF;">
        <a class="nav-link"  aria-current="page" href="{% url 'home' %}">Главная</a>
        <a class="nav-link"  href="{% url 'calc' %}">Произвести расчет</a>
        <a class="nav-link"  href="{% url 'map' %}">Карты</a>
        <a class="nav-link"  href="{% url 'regul' %}">Нормативная база</a>
        <a class="nav-link"  href="{% url 'about' %}">О нас</a>
      </div>
    </div>
  </div>
</nav>